@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root,
  .App {
    @apply h-max bg-[#c6ffc8] box-border;
  }
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.DatePicker select {
  @apply bg-transparent text-center rounded-md px-7 py-2 m-2 border border-black;
}
.DatePicker {
  @apply flex justify-evenly items-center;
}
.Shift {
  @apply bg-transparent text-center rounded-md px-7 py-2 m-2 border border-black;
}
.ErrorPageBtn {
  @apply bg-transparent border-2  border-black rounded-md w-28 py-4;
}

.LoginPageBtn {
  @apply w-36 py-4 rounded-md text-white;
}

.ErrorEntryTopBttn {
  @apply flex font-semibold text-lg flex-col justify-center items-center p-2 rounded-md;
}

.ErrorEntrySideBttn {
  @apply flex font-semibold border-black border w-full text-lg flex-col justify-center items-center p-3 rounded-md uppercase;
}

.ModalFormInputs {
  @apply p-3 flex justify-between gap-2 items-center;
}

.th,
.td {
  @apply border-b place-items-center  border-black border-r flex justify-center !important;
}
.tr.td:last-child {
  @apply border-b-0 w-full !important;
}

.tableComp {
  @apply text-center w-full block  relative border-spacing-0 border border-b-0 border-black !important;
}
.tr.td:last-child {
  border-bottom: 0;
}

.ErrorTableBtn {
  @apply bg-white min-w-[7rem] w-36 h-28  rounded-md border border-black;
}
